.DeviceInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 7%;

}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
}

p {
  font-size: 14px;
  margin: 10px 0px;
}

strong {
  font-weight: italic;
}

.deviceInfoBox {
  display: flex;
  justify-content: center;
  align-items: center
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
